--ignore-errors
--add-metadata
--embed-thumbnail
--referer https://laracasts.com
-o "/home/magnus/Videos/Laracasts/%(playlist)s/[%(playlist_index)s]%(title)s.%(ext)s"
-f b
-S ext
--cookies "${HOME}/cookies.txt"
--no-clean-info-json
--write-info-json
--write-comments
--batch-file "${HOME}/batch-laracasts.txt"
--no-overwrites
--continue
--mtime
--write-thumbnail
--write-link
--download-archive "${HOME}/archive.txt"
-N 4
