[submodule "/home/mangebang/Documents/Repos/.dot_files/modules/tmux"]
	path = /home/mangebang/Documents/Repos/.dot_files/modules/tmux
	url = https://github.com/tmux/tmux.git
[submodule "/home/mangebang/Documents/Repos/.dot_files/modules/.bash-git-prompt"]
	path = /home/mangebang/Documents/Repos/.dot_files/modules/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
